:root {
  --unit: calc(100/13 * 1vmin);
  --unit-8th: calc(var(--unit) / 8);
  --quarter-unit: calc(var(--unit) / 4);
  --half-unit: calc(var(--unit) / 2);
  --two-unit: calc(var(--unit) * 2);
  --three-unit: calc(var(--unit) * 3);
  --felt-color: #77a07d;
  --interactive-color: #57a9c3;
  --negative-color: #ff5757;
  --positive-color: #50c750;
  --clickable-shadow: var(--unit-8th) var(--unit-8th) var(--unit-8th) rgba(0, 0, 0, 0.3),
    0 0 var(--unit-8th) rgba(0, 0, 0, 0.3);
  --inset-shadow: inset var(--unit-8th) var(--quarter-unit) var(--unit-8th) rgba(0, 0, 0, 0.2);
  --inside-border-shadow: inset 0 0 0 var(--unit-8th) white;
  --lock-image: url(../gfx/lock2.png);
}

* {
  margin: 0;
  padding: 0;
  font-size: calc(var(--unit) * 0.65);
}

#wrapper {
  background-color: var(--felt-color);
  padding-bottom: var(--unit);
  background-image: url(../gfx/lock2.png), url(../gfx/0.png),
    url(../gfx/1.png), url(../gfx/2.png),
    url(../gfx/3.png), url(../gfx/4.png),
    url(../gfx/5.png), url(../gfx/6.png);
  background-position: -10000px;
  background-size: 0%;
  background-repeat: no-repeat;
}

#bottom-wrapper {
  width: 100vmin;
  height: 10px;
  height: calc(var(--fullheight) - var(--unit) * 4.5);
  overflow: scroll;
}

#dices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100vmin - var(--unit));
  margin-left: var(--half-unit);
  padding-top: var(--half-unit);
}

.dice {
  display: inline-block;
  /* border: 1px solid black; */
  min-width: var(--two-unit);
  min-height: var(--two-unit);
  /* background-color: white; */
  text-align: center;
  line-height: var(--two-unit);
  background-image: url(../gfx/0.png);
  background-size: contain;
}

.dice.d1 {
  background-image: url(../gfx/1.png);
}

.dice.d2 {
  background-image: url(../gfx/2.png);
}

.dice.d3 {
  background-image: url(../gfx/3.png);
}

.dice.d4 {
  background-image: url(../gfx/4.png);
}

.dice.d5 {
  background-image: url(../gfx/5.png);
}

.dice.d6 {
  background-image: url(../gfx/6.png);
}

.dice.keep {
  background-blend-mode: normal, normal;
}

.dice.d1.keep {
  background-image: var(--lock-image), url(../gfx/1.png);
}

.dice.d2.keep {
  background-image: var(--lock-image), url(../gfx/2.png);
}

.dice.d3.keep {
  background-image: var(--lock-image), url(../gfx/3.png);
}

.dice.d4.keep {
  background-image: var(--lock-image), url(../gfx/4.png);
}

.dice.d5.keep {
  background-image: var(--lock-image), url(../gfx/5.png);
}

.dice.d6.keep {
  background-image: var(--lock-image), url(../gfx/6.png);
}

#reroll {
  position: relative;
  border-radius: var(--quarter-unit);
  box-shadow: var(--clickable-shadow);
  background-color: var(--interactive-color);
  width: calc(100vmin - var(--unit));
  min-height: calc(var(--unit) + var(--half-unit));
  margin: var(--half-unit) var(--half-unit) 0;
  color: white;
  text-align: center;
  line-height: calc(var(--unit) + var(--half-unit));
}

#reroll.inactive {
  background-color: #999999;
  color: rgba(0, 0, 0, .4);
}

#reroll.new-game {
  background-color: var(--negative-color);
}

.config {
  display: flex;
  justify-content: space-between;
  /* margin: var(--half-unit) 0 0; */
}

.config div {
  border-radius: var(--quarter-unit);
  box-shadow: var(--clickable-shadow);
  background-color: var(--interactive-color);
  /* min-height: var(--two-unit); */
  color: white;
  text-align: center;
  padding: var(--half-unit);
  margin: 0 var(--half-unit);
}

#scoreboard table {
  border-collapse: separate;
  border-spacing: var(--half-unit) var(--unit-8th);
  margin: var(--half-unit) auto;
}

#scoreboard tr {
  height: calc(var(--unit) + var(--half-unit));
}

#scoreboard tr:first-child {
  height: var(--unit);
}

#scoreboard th {
  border-radius: var(--quarter-unit);
  background-color: rgba(0, 0, 0, .25);
  color: var(--felt-color);
}

#scoreboard th.active {
  background-color: black;
}

#scoreboard td.row-label {
  color: rgba(0, 0, 0, 0.4);
}

#scoreboard td.sum {
  min-width: var(--two-unit);
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

#scoreboard td.match {
  border-radius: var(--quarter-unit);
  box-shadow: var(--inset-shadow);
  background-color: white;
  min-width: var(--two-unit);
  text-align: center;
}

#scoreboard td.zero {
  background-color: var(--negative-color);
  box-shadow: var(--inset-shadow),
    var(--inside-border-shadow);
  color: white;
}

#scoreboard td.ok {
  background-color: var(--positive-color);
  box-shadow: var(--inset-shadow),
    var(--inside-border-shadow);
  color: white;
}

#scoreboard td.done {
  box-shadow: var(--inset-shadow);
  background-color: white;
}

#scoreboard td.ok.done {
  color: black;
}

#scoreboard td.zero.done {
  color: rgba(0, 0, 0, .25);
}
