:root {
  --unit: calc(100/13 * 1vmin);
}

@media only screen and (min-width: 375px) {
  :root {
    --unit: calc(100/13 * 3.75px);
  }

  #wrapper {
    margin-left: calc((100vw - var(--full-width))/2);
  }
}

:root {
  --full-width: calc(var(--unit) * 13);
  --unit-8th: calc(var(--unit) / 8);
  --quarter-unit: calc(var(--unit) / 4);
  --half-unit: calc(var(--unit) / 2);
  --two-unit: calc(var(--unit) * 2);
  --three-unit: calc(var(--unit) * 3);
  --felt-color: #77a07d;
  --interactive-color: #57a9c3;
  --inactive-color: #999999;
  --negative-color: #ff5757;
  --positive-color: #50c750;
  --clickable-shadow: var(--unit-8th) var(--unit-8th) var(--unit-8th) rgba(0, 0, 0, 0.3),
    0 0 var(--unit-8th) rgba(0, 0, 0, 0.3);
  --inset-shadow: inset var(--unit-8th) var(--quarter-unit) var(--unit-8th) rgba(0, 0, 0, 0.2);
  --inside-border-shadow: inset 0 0 0 var(--unit-8th) white;
  --lock-image: url(../gfx/lock2.png);
}

* {
  margin: 0;
  padding: 0;
  font-size: calc(var(--unit) * 0.65);
}

body {
  background-color: var(--felt-color);
  background-image: url(../gfx/noise.png);
  background-blend-mode: overlay;
}

#wrapper {
  width: var(--full-width);
  padding-bottom: var(--unit);
}

#bottom-wrapper {
  width: var(--full-width);
  height: var(--bottom-wrapper-height, 100vh);
  overflow: scroll;
}

#dices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(var(--full-width) - var(--unit));
  margin-left: var(--half-unit);
  padding-top: var(--half-unit);
  position: relative;
}

@keyframes shakeY2 {

  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(0, calc(-2 * var(--quarter-unit)), 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(0, var(--quarter-unit), 0);
  }
}

.dice {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--two-unit);
  min-height: var(--two-unit);
  text-align: center;
  line-height: var(--two-unit);
  background-size: contain;
  border-radius: var(--quarter-unit);
  background-color: #d8d8d8;
  box-shadow: var(--clickable-shadow);
  cursor: pointer;
}

.dice.blank .pip-row {
  display: none;
}

.dice-inside {
  width: calc(var(--two-unit) - var(--unit-8th));
  height: calc(var(--two-unit) - var(--unit-8th));
  border-radius: var(--half-unit);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice .pip-row {
  display: flex;
  justify-content: space-between;
}

.dice .pip {
  background-color: var(--negative-color);
  width: calc(2.5 * var(--unit-8th));
  height: calc(2.5 * var(--unit-8th));
  border-radius: var(--quarter-unit);
  margin: 0 var(--quarter-unit);
}

.top-pips .pip {
  margin-top: var(--quarter-unit);
}

.bottom-pips .pip {
  margin-bottom: var(--quarter-unit);
}

.dice.d1 .top-pips, .dice.d1 .bottom-pips, .dice.d1 .middle-pips .pip:first-child {
  display: none;
}

.dice.d1 .dice-inside, .dice.d1 .middle-pips {
  justify-content: center;
}

.dice.d2 .middle-pips, .dice.d2 .bottom-pips .pip:first-child, .dice.d2 .top-pips .pip:first-child {
  display: none;
}

.dice.d2 .top-pips {
  justify-content: flex-start;
}

.dice.d2 .bottom-pips {
  justify-content: flex-end;
}

.dice.d3 .middle-pips .pip:first-child, .dice.d3 .bottom-pips .pip:first-child, .dice.d3 .top-pips .pip:first-child {
  display: none;
}

.dice.d3 .top-pips {
  justify-content: flex-start;
}

.dice.d3 .middle-pips {
  justify-content: center;
}

.dice.d3 .bottom-pips {
  justify-content: flex-end;
}

.dice.d4 .middle-pips {
  display: none;
}

.dice.d5 .middle-pips .pip:first-child {
  display: none;
}

.dice.d5 .middle-pips {
  justify-content: center;
}

.dice.keep {
  transform: rotateZ(-15deg);
}

.dice.animate {
  animation-name: shakeY2;
  animation-duration: var(--animation-duration, 5000ms);
  animation-timing-function: linear;
}

.dice.animate .dice-inside .pip-row {
  display: none;
}

#reroll {
  position: relative;
  border-radius: var(--quarter-unit);
  box-shadow: var(--clickable-shadow);
  background-color: var(--interactive-color);
  width: calc(var(--full-width) - var(--unit));
  min-height: calc(var(--unit) + var(--half-unit));
  margin: var(--half-unit) var(--half-unit) 0;
  color: white;
  text-align: center;
  line-height: calc(var(--unit) + var(--half-unit));
  cursor: pointer;
}

#reroll.new-game {
  background-color: var(--negative-color);
}

.config {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/*
.config > * {
  margin-bottom: var(--half-unit);
} */

.config .row {
  display: flex;
  justify-content: space-between;
}

.config .button {
  border-radius: var(--quarter-unit);
  box-shadow: var(--clickable-shadow);
  background-color: var(--interactive-color);
  color: white;
  text-align: center;
  padding: var(--half-unit);
  margin: 0 var(--half-unit) var(--half-unit);
  flex-grow: 1;
  cursor: pointer;
}

.config input {
  border-radius: var(--quarter-unit);
  box-shadow: var(--clickable-shadow);
  background-color: white;
  border: none;
  padding: var(--half-unit);
  margin: 0 var(--half-unit) var(--half-unit);
  flex-grow: 1;
  cursor: pointer;
}

#scoreboard table {
  border-collapse: separate;
  border-spacing: var(--half-unit) var(--unit-8th);
  margin: var(--half-unit) auto;
}

#scoreboard tr {
  height: calc(var(--unit) + var(--half-unit));
  cursor: default;
}

#scoreboard tr:first-child {
  height: var(--unit);
}

#scoreboard th {
  border-radius: var(--quarter-unit);
  background-color: rgba(0, 0, 0, .25);
  color: var(--felt-color);
}

#scoreboard th.active {
  background-color: black;
}

#scoreboard td.row-label {
  color: rgba(0, 0, 0, 0.4);
}

#scoreboard td.sum {
  min-width: var(--two-unit);
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

#scoreboard td.match {
  border-radius: var(--quarter-unit);
  box-shadow: var(--inset-shadow);
  background-color: white;
  min-width: var(--two-unit);
  text-align: center;
  cursor: pointer;
}

#scoreboard td.zero {
  background-color: var(--negative-color);
  box-shadow: var(--inset-shadow),
    var(--inside-border-shadow);
  color: white;
}

#scoreboard td.ok {
  background-color: var(--positive-color);
  box-shadow: var(--inset-shadow),
    var(--inside-border-shadow);
  color: white;
}

#scoreboard td.inactive {
  background-color: var(--inactive-color);
}

#scoreboard td.done {
  box-shadow: none;
  background-color: transparent;
  color: rgba(0, 0, 0, .4);
  cursor: default;
}

#scoreboard td.ok.done {}

#scoreboard td.zero.done {}

@media only screen and (min-height: 900px) {
  #bottom-wrapper {
    overflow: auto;
  }
}

.hidden {
  display: none !important;
}

.button.inactive, #reroll.inactive {
  background-color: var(--inactive-color);
  color: rgba(0, 0, 0, .4);
}

.version {
    color: rgba(0,0,0,.4);
    margin-left: var(--half-unit);
}